In [ ]:
from pykubegrader.grade_reports.class_grade_report import ClassGradeReport

out = ClassGradeReport().run()

In [2]:
from bblearn import merge_bb_learn_data

merge_bb_learn_data(
    "~/Downloads/gc_XLSENGR131BCmfs_202425_studinfo_2025-03-18-09-36-47.csv",
    "~/Downloads/output (3).xlsx",
)

,Last Name,First Name,Username,Student ID,Last Access,Availability,Child Course ID,Weighted Average Grade w Final
0,Abboud,Kam,ka3232,14736537.0,2025-03-17 22:45:00,Yes,23948.202425,91.419990
1,Afzaal,Tariq,ta669,14738986.0,2025-03-18 05:28:59,Yes,21543.202425,88.635728
2,Agar_PreviewUser,Joshua,jca92_previewuser,NaN,2025-03-18 09:34:08,Yes,NaN,NaN
3,Agarwal,Varun,va438,14705074.0,2025-03-17 12:59:55,Yes,23948.202425,98.065457
4,Akhtar,Fazaima,fa577,14720536.0,2025-03-17 22:44:50,Yes,21543.202425,104.712593
...,...,...,...,...,...,...,...,...
303,Zheng,Jonathan,jz898,14720356.0,2025-03-06 14:09:48,Yes,21543.202425,97.032656
304,Zheng,Nick,nz357,14718936.0,2025-03-17 13:24:55,Yes,21543.202425,103.671514
305,Zhu,Ylaine,yz922,14718252.0,2025-03-17 12:57:22,Yes,21543.202425,100.787194
306,Zorrilla,Abraham,az643,13241287.0,2025-03-17 13:16:46,Yes,23948.202425,107.983400
307,Zou,Rickie,rz365,14705048.0,2025-03-18 07:13:51,Yes,23948.202425,105.854076